{% extends 'admin_repartidor/base.html' %}
{% load crispy_forms_tags %}
{% block body_content %}
{%if user.is_authenticated%}
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <h1 align="center" >Editar Alimento</h1>
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Editar</button>
            <a href= "{% url 'admin_alimentos:ver_alimento' %}"> Cancelar </a>
        </div>
        
    </form>
{%endif%}
{% endblock body_content %}
