{% extends 'base_repartidor.html' %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
    {% block head %}
    {% endblock head %}
    {% block css %}
    {% endblock css %}

{% block body_content %}
    {%if user.is_authenticated%}
<h1> </h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li>
    <a class="nav-link" href="{% url 'usuarios:inicio_repartidor'%}" >   Tus ordenes listas para entregar</a>
  </li>
  <li>
    <a class="nav-link" href="{% url 'usuarios:proceso_entrega'%}" >   Tus ordenes en proceso de entrega</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tus ordenes entregadas</a>
  </li>
  
</ul>
{% if pedidos%}
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
  	<table class="table table-hover">
		<thead>
			<tr> 
				<td># Orden</td>
				<td>Detalles</td>
			</tr>
		</thead>
		<tbody>
			
				{%for pedido in pedidos%}
					<tr>
							<td>{{pedido.order_id}}</td>
							<td>
								<a class="btn btn-primary" href="{%url 'usuarios:ver_pedido' pedido.id%}">Detalles</a>
							</td>
						
						
					</tr>
				{% endfor %}


			
		</tbody>
		
	</table>

	{%else%}
	<h2>No hay pedidos entregados</h2>

						{% endif %}
  </div>
</div>
	{% endif %}
    
{% endblock body_content%}