{% extends 'base.html' %}
{% block head %}
{% load static %}
{% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
{% endblock head %}

{% block body_content %}

    <div class="cod-container">
        <div class="text-center">
            <img src="{% static 'img/quicknam.png' %}" class="rounded"> 
            <div class="form-title">
                    <h3>Registro</h3>
            </div>
        </div>
        
        <div class="form-content">
            <form action="." method="POST">
                {% csrf_token %}
                <div class="container">
                  {{form |crispy}}
                  {{cliente_form |crispy}}
                  {{ubicacion_form |crispy}}
                  
                </div>
                <div class="text-center">
                    <input type="submit" class="form-input" value="Registrate">
                    <p> Ya tienes cuenta? <a href="{% url 'usuarios:login_cliente' %}" class="alt-form">Ingresa aquí</a></p>
                
                </div>
            </form>
        </div>
        
    </div>

{% endblock body_content %}
