{% extends 'admin_repartidor/base.html' %}
{%load static%}
{% block body_content %}
{%if user.is_authenticated%}
<h1>Lista de Categoria </h1>

<div style="text-align:right; width:1270px">
<a class="btn btn-outline-info" href="{% url 'admin_categoria:registro_categoria' %}"> 
<i class="fa fa-plus"></i> Agregar</a>
</div>
<br>

	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr> 
				<td>Id</td>
				<td>Nombre</td>
				<td>Foto</td>
				<td>Descripción</td>
				<td colspan="2">Acciones</td>
			</tr>
		</thead>
		<tbody>
			{%if categorias %}
				{%for categoria in categorias%}
					<tr>
							<td> {{categoria.id}} </td>
							<td>{{categoria.nombre}}</td>
							<td>{{categoria.foto}}</td>
							<td>{{categoria.descripcion}}</td>
							<td>

								<a class="btn btn-primary" href="{% url 'admin_categoria:editar_categoria' categoria.id %}"> <i class="far fa-edit"></i> editar</a>
							</td>
							<td>
                          <form id="{{categoria.id}}" action= "{% url 'admin_categoria:eliminar_categoria' categoria.id %}" method="post">
                            {% csrf_token %}
								<button type="button" 
                            onclick="abrir_modal('{{categoria.nombre}}','{{categoria.id}}')" class="btn btn-danger"> 
                              <i class="fas fa-trash"></i> eliminar </button>
                          </form>

							</td>
						
					</tr>
				{%endfor%}

			{% else %}
				<h2>No hay registros</h2>
			{% endif %}
		</tbody>
		
	</table>
{%endif%}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estas seguro que deseas eliminar <label id="aNombre"></label>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="elimina" type="button" class="btn btn-primary" onclick="elimina()" >Eliminar</button>
      </div>
    </div>
  </div>
</div>

{% endblock body_content %}

{% block js %}
        <script type="text/javascript" src="{% static 'js/categoria.js' %}"></script>
{% endblock js %}

